@import '../../_assets/css/main.scss';

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../../_assets/img/vegetables-3.jpg');
  background-size: cover;
  background-position: center;

  &__logo-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .logo {
      width: auto;
      height: auto;
      animation: swipeInFromBottom 3s ease-out;
      transition: all 0.4s ease;

      &:hover {
        transform: scale(1.2);
        box-shadow: 0 1.5rem 1rem rgba($color-black, 0.2);
      }
    }
  }

  &__arrow-container {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: houdini 3s ease-out;
    img {
      animation: hop 2.5s infinite ease;
      animation-delay: 3s;
    }
  }

  &__heading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
