@mixin typography {
  color: $body-primary-color;
  font-size: $default-font-size;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $brand-color-md-dark, $brand-color-dark);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s ease;

  &:hover {
    transform: translateY(-.3rem);
    background-image: linear-gradient(to left, $brand-color-md-dark, $brand-color-dark);
    text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
  display: block;
}
