@import './_assets/css/main.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  @include typography;
  box-sizing: border-box;
}
